#version: '4'
#services:
#  jeecg-boot-mysql:
#    build:
#      context: ./db
#    environment:
#      MYSQL_ROOT_PASSWORD: root
#      MYSQL_ROOT_HOST: '%'
#      TZ: Asia/Shanghai
#    restart: always
#    container_name: jeecg-boot-mysql
#    image: jeecg-boot-mysql
#    command:
#      --character-set-server=utf8mb4
#      --collation-server=utf8mb4_general_ci
#      --explicit_defaults_for_timestamp=true
#      --lower_case_table_names=1
#      --max_allowed_packet=128M
#      --default-authentication-plugin=caching_sha2_password
#    ports:
#      - 3306:3306
#    networks:
#      - jeecg-boot
#
#  jeecg-boot-redis:
#    image: redis:5.0
#    ports:
#      - 6379:6379
#    restart: always
#    hostname: jeecg-boot-redis
#    container_name: jeecg-boot-redis
#    networks:
#      - jeecg-boot
#
#  jeecg-boot-system:
#    build:
#      context: ./jeecg-module-system/jeecg-system-start
#    restart: on-failure
#    depends_on:
#      - jeecg-boot-mysql
#      - jeecg-boot-redis
#    container_name: jeecg-boot-system
#    image: jeecg-boot-system
#    hostname: jeecg-boot-system
#    ports:
#      - 8080:8080
#    networks:
#      - jeecg-boot
#
#networks:
#  jeecg-boot:
#    name: jeecg_boot

version: '3.8'

services:
  app-1:
    container_name: a33-docker-package
    build:
      #      context: ./dir  # 指定包含 Dockerfile 的目录
      dockerfile: Dockerfile  # 如果 Dockerfile 名字不是默认的 "Dockerfile"，则需要指定文件名
      tags: # 可以指定多个标签
        - axinger/a33-docker-package:latest
        - axinger/a33-docker-package:1.0
    ports:
      - "13311:13311"
      - "13312:13312"
    volumes:
      - /etc/hosts:/etc/hosts
    environment:
      AXINGER_CONFIG_SERVER_PORT: 13312
      DEBUG: 1
      AXINGER_CONFIG_DB_URL: jdbc:mysql://mysql8:3306/ax_test33?serverTimezone=GMT%2B8&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true
      AXINGER_CONFIG_DB_USERNAME: root
      AXINGER_CONFIG_DB_PASSWORD: Abcd#1234
    networks:
      mynetwork:

networks:
  mynetwork:
    external: true
