version: '3.8'

services:
  app-1:
    container_name: a33-docker-jar-demo
    build:
      #      context: ./dir  # 指定包含 Dockerfile 的目录
      dockerfile: Dockerfile  # 如果 Dockerfile 名字不是默认的 "Dockerfile"，则需要指定文件名
      tags: # 可以指定多个标签
        - axinger/a33-docker-jar:1.0
    ports:
      - "13301:13301"
      - "13302:13302"
    environment:
      - DEMO_DEBUG=1
    networks:
      my-network:

networks:
  my-network:
    external: true
