#lombok.log.custom.declaration=org.slf4j.Logger com.github.axinger.MyLog.getLogger(NAME)
#lombok.log.custom.declaration=org.slf4j.Logger com.github.axinger.MyLog.getLogger(TYPE)
lombok.log.custom.declaration=com.github.axinger.MyLog com.github.axinger.MyLog.getLogger(TYPE)
#lombok.log.custom.declaration=com.github.axinger.MyLoggerFactory.getLogger(NAME) com.github.axinger.MyLoggerFactory.getLogger(TYPE)
