spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ax_oauth2?serverTimezone=UTC&userUnicode=true&characterEncoding=utf-8
    username: root
    password: 12345678
  jpa:
    database: mysql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  security:
    oauth2:
      authorizationserver:

        client:
          cli



