<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>websocket.html</title>
    <meta content="keyword1,keyword2,keyword3" name="keywords">
    <meta content="this is my page" name="description">
    <meta charset="UTF-8" content="text/html" name="content-type">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
</head>
<body>
<div>
    <p id="response">一对一的实现！</p>
</div>

<!-- 独立JS -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/sockjs.min.js}"></script>
<script th:src="@{/js/stomp.js}"></script>
<script th:src="@{/js/index2.js}"></script>
</body>
</html>
