spring:
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://192.168.101.142:1433;DatabaseName=ax_test;encrypt=false;trustServerCertificate=false
    username: sa
    password: Cepai@wit2022

axinger:
  tenant:
    # 是否开启租户模式
    enable: true
    # 需要排除的多租户的表
    exclusionTable:
      - "t_sys_district"
      - "oauth_client_details"
    # 租户字段名称
    column: tenant_id
