spring:
  datasource:
    url: jdbc:mysql://hadoop102:3306/ax_test4?serverTimezone=GMT%2B8&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

axinger:
  tenant:
    # 是否开启租户模式
    enable: true
    # 需要排除的多租户的表
    exclusionTable:
      - "t_sys_district"
      - "oauth_client_details"
    # 租户字段名称
    column: tenant_id
