<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.axinger.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.github.axinger.domain.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,email
    </sql>


    <!--    <select id="selectPageList" resultMap="BaseResultMap">-->
    <!--        select *-->
    <!--        from user  WHERE id BETWEEN #{from} AND #{to} limit #{_pagesize}-->
    <!--        OFFSET #{_skiprows}-->
    <!--    </select>-->


    <!--    <select id="selectPageList" resultMap="BaseResultMap">-->
    <!--        SELECT *-->
    <!--        FROM user-->
    <!--                 LIMIT #{_pagesize} OFFSET #{_skiprows}-->
    <!--    </select>-->

    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT *
        FROM user
        WHERE id > #{lastId}
        ORDER BY id ASC
        LIMIT #{pageSize}
    </select>


    <!--    <select id="selectPageList" resultMap="BaseResultMap">-->
    <!--        SELECT * FROM user  ORDER BY id ASC LIMIT #{pageSize} OFFSET #{offset}-->

    <!--    </select>-->


    <!--    <select id="selectPageList" resultMap="BaseResultMap">-->

    <!--        SELECT *-->
    <!--        FROM (-->
    <!--                 SELECT *, ROW_NUMBER() OVER (ORDER BY id) AS row_num-->
    <!--                 FROM user-->
    <!--             ) AS numbered_users-->
    <!--        WHERE row_num BETWEEN #{pageNumber} * #{pageSize} + 1 AND (#{pageNumber} + 1) * #{pageSize}-->

    <!--    </select>-->

    <insert id="saveOne">
        insert into user_2(id, name, email)
        values (#{id}, #{name}, #{email})
    </insert>
</mapper>
