<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE Example</title>
</head>
<body>
<h1>SSE连接</h1>
<div id="sse-output"></div>
<script>
    let id = [[${id}]];
    const eventSource = new EventSource('/sse?id=' + id);

    eventSource.onmessage = function (event) {
        const newElement = document.createElement("div");
        newElement.innerHTML = "Received: " + event.data;
        document.getElementById("sse-output").appendChild(newElement);
    };

    eventSource.onerror = function (event) {
        console.error("EventSource failed: ", event);
    };
</script>
</body>
</html>
