<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.axinger.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.github.axinger.domain.Employee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `dept_id`, `email`, `gender`, `name`
    </sql>

</mapper>
