<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axing.demo.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.axing.demo.domain.Room">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="layer" column="layer" jdbcType="VARCHAR"/>
            <result property="roomName" column="room_name" jdbcType="VARCHAR"/>
            <result property="schoolId" column="school_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,layer,room_name,
        school_id
    </sql>
</mapper>
