<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axing.demo.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.axing.demo.domain.DepartmentEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMapOfEmployee" type="com.axing.demo.domain.DepartmentEntity" extends="BaseResultMap">
        <collection property="empList" ofType="com.axing.demo.domain.EmployeeEntity">
            <!--            含有相同的字段名-->
            <id property="id" column="e_id" jdbcType="BIGINT"/>
            <result property="name" column="e_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
        id
        ,name
    </sql>

    <select id="listLeft" resultMap="BaseResultMapOfEmployee">
        SELECT d.*,
               e.id      as e_id,
               e.name    as e_name,
               e.gender  as gender,
               e.dept_id as dept_id
        FROM department d
                 LEFT JOIN employee e
                           ON e.dept_id = d.id
            ${ew.customSqlSegment}
    </select>

    <!--  SELECT *,封装一下的格式 可以用
        Wrappers.<Department>lambdaQuery().eq(Department::getId, 1)
      d.* 这样格式，只能用
      Wrappers.query().eq("d.id", 1)
      -->
    <select id="listLeftSon" resultMap="BaseResultMapOfEmployee">

        SELECT *
        FROM (SELECT d.*,
                     e.id      as e_id,
                     e.name    as e_name,
                     e.gender  as gender,
                     e.dept_id as dept_id
              FROM department d
                       LEFT JOIN employee e ON e.dept_id = d.id) AS t
            ${ew.customSqlSegment}
    </select>

    <!--    全表子查询-->
    <select id="listWhere" resultMap="BaseResultMapOfEmployee">
        SELECT d.*, e.id as e_id, e.name as e_name, e.gender as gender, e.dept_id as dept_id
        FROM department d,
        employee e
        where e.dept_id = d.id
        <if test="ew != null">
            <if test="ew.nonEmptyOfWhere">
                AND
            </if>
            ${ew.sqlSegment}
        </if>

    </select>

</mapper>
